:root {
	--input-padding-x: 1.5rem;
	--input-padding-y: 0.75rem;
}

.card-signin {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: initial;
	border-right-style: initial;
	border-bottom-style: initial;
	border-left-style: initial;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1rem 0px;
}

.card-signin .card-img-left {
	width: 45%;
	background-image: url("https://source.unsplash.com/collection/190727/414x512");
	background-position-x: 50%;
	background-position-y: 50%;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: scroll;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	background-size: cover;
}

.card-signin .card-title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.5rem;
}

.card-signin .card-body {
	padding-top: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
}

.form-signin {
	width: 100%;
}

.form-signin .btn {
	font-size: 80%;
	border-top-left-radius: 5rem;
	border-top-right-radius: 5rem;
	border-bottom-right-radius: 5rem;
	border-bottom-left-radius: 5rem;
	letter-spacing: 0.1rem;
	font-weight: bold;
	padding-top: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	transition-delay: 0s;
	transition-property: all;
}

.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}

.form-label-group > label {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	margin-bottom: 0px;
	line-height: 1.5;
	color: rgb(73, 80, 87);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	transition-property: all;
}

.form-label-group input::-webkit-input-placeholder {
	color: transparent;
}

.form-label-group input::placeholder {
	color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: rgb(119, 119, 119);
}

.btn-google {
	color: white;
	background-color: rgb(234, 67, 53);
}

.btn-facebook {
	color: white;
	background-color: rgb(59, 89, 152);
}

.c3923 {
	min-height: 75px;
}

.c3946 {
	min-height: 75px;
}

.container.c3946 {
	float: left;
}

.c4181 {
	min-height: 75px;
}

.c4204 {
	min-height: 75px;
}

.container.c4204 {
	float: left;
	position: static;
}

.c4254 {
	min-height: 75px;
}

.c4277 {
	min-height: 600px;
	max-width: 400px;
	background-color: rgb(87, 85, 85);
}

.c4454 {
	min-height: 75px;
}

.c4477 {
	min-height: 75px;
}

.col-xl-3.col-lg-3.col-md-3.col-sm-3.col-12 {
	min-height: 750px;
	background-color: rgb(59, 58, 58);
	max-width: 20%;
}

.col-xl-7.col-lg-7.col-md-7.col-sm-7.col-12 {
	min-height: 750px;
	background-color: rgb(246, 252, 255);
	color: rgb(33, 37, 41);
	max-width: 80%;
}

.c7353 {
	color: black;
}

.c7376 {
	color: black;
}

.c7460 {
	min-height: 75px;
}

.c7479 {
	min-height: 75px;
}

.container.c7479 {
	top: 19px;
	display: block;
	float: none;
	position: relative;
	bottom: -22px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.c7526 {
	color: black;
}

.c7549 {
	color: black;
	width: 177px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 61.0469px;
}

.blog-header {
	line-height: 1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(229, 229, 229);
}

.blog-header-logo {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 2.25rem;
	font-weight: bold;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
}

.nav-scroller .nav-link {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 0.875rem;
}

.c9844 {
	min-height: 75px;
}

.c9867 {
	min-height: 75px;
}

.container.c9867 {
	max-width: 100%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 9px;
	color: rgb(33, 37, 41);
	width: 100%;
	margin-top: 51px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}

.nav-link.active {
	top: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: rgb(246, 252, 255);
	color: rgb(33, 37, 41);
}

.nav-link {
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: rgb(222, 225, 227);
}

.nav-item {
	color: rgb(222, 225, 227);
}

.c15526 {
	color: black;
}

.c15549 {
	color: black;
}

.form-control {
	margin-top: 45px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	width: 60%;
	float: left;
	display: inline-block;
}

.c17054 {
	min-height: 200px;
}

.c17074 {
	min-height: 200px;
}

.c17193 {
	min-height: 300px;
	height: auto;
}

.c17212 {
	min-height: 300px;
	height: auto;
}

.btn.btn-primary.mb-2 {
	position: relative;
	padding-top: 0px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 12px;
	margin-top: 47px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 20px;
	float: none;
	display: inline-block;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: rgb(29, 76, 104);
}

.form-block.c17212 {
	min-height: 150px;
}

.heading {
	font-size: 18px;
}

.bdg-sect {
	margin: 50px 0 0 0;
}